---
import { apiModules, getDoc } from "./utils";
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";

export async function getStaticPaths() {
  return apiModules.map((apiModule) => {
    return {
      params: {
        API: apiModule.apiRoute,
      },
      props: apiModule,
    };
  });
}

const { moduleName, filePath } = Astro.props;

const frontmatter = {
  title: moduleName,
};

const headings = [
  //   {
  //     depth: 2,
  //     slug: "web-apis",
  //     text: "Web APIs",
  //   },
];

const docInfo = await getDoc(filePath);
---

<StarlightPage frontmatter={frontmatter} headings={headings}>
  <h2>{moduleName} overview</h2>
  <code>
    <pre>{JSON.stringify(docInfo, null, 4)}</pre>
  </code>
</StarlightPage>
