---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";

const frontmatter = {
    title: "Meh",
}
---

<StarlightPage frontmatter={frontmatter}>
  <h1>Muhahah</h1>
</StarlightPage>
